body {
  background-color: DarkSeaGreen;
  color: solid black;
  font-family: Calibri, Helvetica, sans-serif;
  margin: 5%;
}
div {
  background: linear-gradient(to bottom, #339966 0%, #33cccc)
}
h1 {
  border: 2px solid black;
  padding: 10px;
  text-align: center
}

.exp-header {
  text-transform: uppercase;
  color: Blue;
  border-top: 1px solid;
}
h3 {
  border: 2px solid black;
  padding: 10px;
}
h4 {
  color: slateblue;
}
img {
  display: block;
  max-width: 20%;
  float: right;
  border: 1px solid black;
}
